.app-container {
    font-family: Arial, sans-serif;
    max-width: 950px;
    margin: 40px auto;
    text-align: left;
    color: #333;
}

h1 {
    font-size: 2rem;
    color:  var(--primary-color);
    text-align: center;
}
h2 {
    font-size: 1.6rem;
    color:  var(--primary-color);
    text-align: left;
}
h3 {
    font-size: 1.2rem;
    color:  var(--primary-color-shaded);
    text-align: left;
}


