table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    border-right: none;
}

th {
    background-color:  var(--primary-color);
    color: white;
    border-right: none;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #e9e9e9;
}

td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}